* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: Arial;
}

#app {
  font-weight: normal;
  background-color: #f3f3f3;
}

#imgApp {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

body {
  min-height: 100vh;
}

#headApp {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0.01px 10px #0f0e0e;
  min-width: 300px;
  z-index: 1;
}

#headApp h1 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
  color: #26bb64;
}

#cardInputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#inputNumber {
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 1px #1b1919;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  background-color: #ffffff;
}

@media (max-width: 524px) {
  #inputNumber {
    flex-direction: column;
    align-items: center;
  }
}

#inputNumber label {
  font-size: 13px;
  padding: 20px 20px;
  width: 300px;
}

#inputNumber input {
  margin: 10px 20px;
  width: 149px;
  height: 34px;
  text-align: center;
}

#cardOutputDisplay {
  min-width: 300px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 1px #1b1919;
}

#cardOutputDisplay__value {
  text-align: center;
  padding: 10px 0;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked+label {
  background-color: #26bb64;
  color: white;
}

.units {
  border-radius: 5px;
  box-shadow: 0px 0.5px 1px #707070;
  display: flex;
  background-color: #343a40;

  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 100px;
}

@media (max-width: 531px) {

  #inputNumber input {
    margin: 0;
    margin-bottom: 20px;
    width: 80%;
  }

}

@media (max-width: 760px) {



  .units {
    flex-direction: column;
    align-items: center;
    min-width: 300px;
  }
}

.unitsCard {
  margin: 10px 0;
  box-shadow: 0px 0.2px 1px #707070;
}

.unitsCard__title {
  color: rgb(11, 10, 10);
  padding: 15px 0;
  height: 40px;
  padding-left: 15px;
  font-size: 13px;
  width: 280px;
  background-color: white;
  margin-bottom: -2px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgb(154, 152, 152);
}

.unitsCard__Inputs {
  background-color: #f3f3f3;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 200px;
  padding: 20px 0;
}

.unitsCard label {
  cursor: pointer;
  background-color: white;
  width: 260px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  font-weight: bold;
  box-shadow: 0px 0px 1px rgb(154, 152, 152);
  border-radius: 5px;
}

.unitsCard label:hover {
  background-color: rgb(236, 236, 236);
  ;

}