* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: Arial;
}

#app {
  max-width: 1280px;
  font-weight: normal;
}

body {
  min-height: 100vh;
}

#headApp {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0.01px 10px #0f0e0e;
  min-width: 300px;
  z-index: 1;
}
#headApp h1 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
}

#cardInputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#inputNumber {
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 1px #1b1919;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  background-color: rgb(243, 230, 215);
}
@media (max-width: 524px) {
  #inputNumber {
    flex-direction: column;
    align-items: center;
  }
}
#inputNumber label {
  font-size: 12px;
  padding: 20px 20px;
  width: 300px;
}
#inputNumber input {
  margin: 10px 20px;
  width: 149px;
  height: 34px;
}

#cardOutputDisplay {
  min-width: 300px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 1px #1b1919;
}
#cardOutputDisplay__value {
  text-align: center;
  padding: 10px 0;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: rgb(173, 115, 115);
  color: white;
}

.units {
  border-radius: 5px;
  box-shadow: 0px 0.5px 1px #707070;
  display: flex;
  background-color: rgb(173, 115, 115);
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 100px;
}
@media (max-width: 760px) {
  .units {
    flex-direction: column;
    align-items: center;
    min-width: 300px;
  }
}

.unitsCard {
  margin: 10px 0;
}
.unitsCard__title {
  color: rgb(11, 10, 10);
  padding: 15px 0;
  height: 40px;
  padding-left: 15px;
  font-size: 12px;
  width: 280px;
  background-color: rgb(239, 239, 239);
}
.unitsCard__Inputs {
  background-color: rgb(243, 230, 215);
  box-shadow: 0px 0px 1px #1b1919;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 200px;
  padding: 20px 0;
}
.unitsCard label {
  cursor: pointer;
  background-color: rgb(239, 239, 239);
  width: 120px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
  font-weight: bold;
  box-shadow: 0px 0.5px 1px #707070;
  border-radius: 10px;
}